<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1" style="margin-top:20px;">
            <h1>Mouse <%= @mouse.id %></h1>
            <table class="table table-bordered table-striped" id="mouse-version-datatable", data-source="<%=  audit_mouse_version_path(format: :json, :mouse_id => @id )%>">
                <thead>
                    <tr>
                        <th colspan=11>
                            To restore this mouse to a previous version, click the index number in the Version column.<br>
                            <div style="display:inline-block;height:15px;min-width:15px;border:1px solid black;background-color:greenyellow"></div> = Current version of this mouse
                        </th>
                    </tr>
                    <tr>
                        <th>Version</th>
                        <th>Sex</th>
                        <th>Mouse ID</th>
                        <th>Ear Punch</th>
                        <th>Transgenic Line</th>
                        <th>Genotype</th>
                        <th>Biopsy</th>
                        <th>Cage</th>
                        <th>Removed</th>
                        <th>Experiment</th>
                        <th>Who</th>
                    </tr>
                </thead>
                <tbody>
                    <% @versions.each_with_index do |v,idx| %>
                        <% ver = v.reify %>
                        <tr>
                            <td><%= link_to idx + 1, audit_restore_mouse_version_path(:mouse_id => @mouse.id, :version => idx + 1), :method => :post %></td>
                            <td><%= ["","F","M"][ver["sex"].to_i] %></td>
                            <td><%= ver["three_digit_code"]%></td>
                            <td><%= [nil,"-","N","R","L","RR","RL","LL","RRL","RLL","RRLL"][ver["ear_punch"].to_i]%></td>
                            <td><%= ver["strain"]%></td>
                            <td><%= [nil, "n/a", "+/+", "+/-", "-/+", "-/-"][ver["genotype"].to_i]%></td>
                            <td><%= ver["biopsy_collection_date"]%></td>
                            <td><%= Cage.find(ver["cage_id"].to_i).cage_number %></td>
                            <td><%= ver["removed"]%></td>
                            <td><%= (ver["experiment_id"].present?) ? Experiment.find(ver["experiment_id"].to_i).name : "-"%></td>
                            <td><%= "#{User.find(@mouse.versions.last.paper_trail_originator.to_i).first} #{User.find(@mouse.versions.last.paper_trail_originator.to_i).last}" %></td>
                        </tr>
                    <% end %>
                    <tr style="background-color:greenyellow">
                        <td><%= @mouse.versions.size%></td>
                        <td><%= ["","F","M"][@mouse.sex.to_i] %></td>
                        <td><%= @mouse["three_digit_code"]%></td>
                        <td><%= [nil,"-","N","R","L","RR","RL","LL","RRL","RLL","RRLL"][@mouse["ear_punch"].to_i]%></td>
                        <td><%= @mouse["strain"]%></td>
                        <td><%= [nil, "n/a", "+/+", "+/-", "-/+", "-/-"][@mouse["genotype"].to_i] %></td>
                        <td><%= @mouse["biopsy_collection_date"]%></td>
                        <td><%= Cage.find(@mouse["cage_id"].to_i).cage_number %></td>
                        <td><%= @mouse["removed"]%></td>
                        <td><%= (@mouse["experiment_id"].present?) ? @mouse.experiment.name : "-" %></td>
                        <td><%= "#{User.find(@mouse.versions.last.paper_trail_originator.to_i).first} #{User.find(@mouse.versions.last.paper_trail_originator.to_i).last}"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>