<div class="container-fluid">
    <div class="row">
    <!-- first column contains graphs -->
        <div class="col-sm-3"  style="margin-top:10px;">
            <h1 class="text-center"><%= @strain2 == nil ? @strain : "#{@strain} / #{@strain2}" %></h1>
            <hr>
            <div style="height:250px;">
                <canvas id="sex-chart">
                </canvas>
            </div>
            <hr>
            <div style="height:325px;">
                <h6 class="text-center" style="font-weight:bold;">Age / Cage Type</h6><br>
                <div id="age-chart">
                </div>
            </div>
            <button class="btn btn-primary btn-block" style="margin-top:10px;" type="button" data-toggle="collapse" data-target="#newCageForm" aria-expanded="false">Add New Cage</button>
         </div>
        <!-- second column contains tables -->
        <div class="col-sm-9"  style="padding-left:50px;">
            <%= render 'home/partials/strain_breadcrumb' %>
            <%= render 'home/partials/new_cage_form' %>
            <!-- Tabbed view to hold breeding and single sex cage tables in separate views -->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" id="breeding-tab" href="#breeding-table-content" role="tab">Breeding</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" id="single-tab" href="#single-sex-table-content" role="tab">Single Sex</a></li>
            </ul>
            <div class="tab-content" id="strain-tables-content" style="padding-top:25px;">

                <div class="tab-pane fade show active" id="breeding-table-content" role="tabpanel">
                    <table id="strain-breeding-datatable" class="strain-datatable table table-bordered table-striped" data-cagetype="breeding" data-source="<%= home_strain_table_path(format: :json, strain: @strain, strain2: @strain2, location:@loc, cage_type:"breeding") %>">
                        <thead>
                            <tr>
                                <th>Cage Number</th>
                                <th>Type</th>
                                <th>Genotype</th>
                                <th>Parents dates of birth</th>
                                <th># pups</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane show fade" id="single-sex-table-content" role="tabpanel">
                    <table id="strain-single-sex-datatable" class="strain-datatable table table-bordered table-striped" style="width:100%" data-cagetype="single" data-source="<%= home_strain_table_path(format: :json, strain: @strain, strain2: @strain2, location:@loc, cage_type:"single") %>" >
                        <thead>
                            <tr>
                                <th>Cage Number</th>
                                <th>Type</th>
                                <th>Genotype</th>
                                <th>Dates of birth</th>
                                <th># mice</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
