<div class="container">
    <% if !current_user %> 
        <div class="row justify-content-md-center" style="margin-top:2%;">
           <span>UCSF Multiple Sclerosis Genetics Research Laboratory Mouse Database</span>
            <%= image_tag("lab-mouse-vector", :style => "margin-top:5%;") %>
        </div>
    <% else %>
        <div class="row justify-content-md-center" style="margin-top:20px;">
            <div class='col-9' style="padding-left:20px;">
                <h1>Cage <%= @cage.cage_number %></h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-9" style="padding-left:25px;">
                <table>
                    <tr>
                        <th>Strain:</th>
                        <td><%= link_to @cage.strain, home_strain_path(:strain => @cage.strain) %></td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td> <%= @cage.cage_type %></td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td><%= @cage.location.capitalize %></td>
                    </tr>
                </table>
            </div>
        </div>
 
        <div class="row justify-content-md-center" style="margin-top:20px;">
            <div class="col-11">
                <button class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#editCageFormDiv" type="button" aria-expanded=false>Edit Cage Information</button>
                <% if @cage.cage_type == "breeding" %>
                    <button class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#recordNewPupsDiv" type="button" aria-expanded=false >Record New Pups</button>
                    <% end %>
                <% if @cage.cage_type == "breeding" && @cage.mice.where(designation:nil).count > 0 %>
                    <%= link_to "Assign IDs to pups", home_assign_new_ids_path(:cage_id => @cage.id), :class => "btn btn-sm btn-primary" %>
                <% end %>
            </div>
        </div>
        <%= render 'home/partials/edit_cage_form' %>
        <%= render 'home/partials/new_pups_form'%>
        <div class="row justify-content-md-center" style="margin-top:20px;">
            <div class="col-12">
            <%= form_tag home_update_mouse_path(:cage => @cage.cage_number), method: :put do %>
                <table id="single-cage-datatable" class="table table-bordered table-striped">
                    <thead>
                        <th class="editableColHeader"><%= @cage.strain.include?("/") ? @cage.strain.split("/").first : @cage.strain %></th>
                        <% if @cage.strain.include?("/")%><th class="editableColHeader"><%= @cage.strain.split("/").second %></th><% end %>
                        <th class="editableColHeader">Notch</th>
                        <th class="editableColHeader">Sex</th>
                        <th class="editableColHeader">ID</th>
                        <th>Birth Cage</th>
                        <th>Birth Date</th>
                        <th class="editableColHeader">Tail Cut Date</th>
                        <% if @cage.cage_type == "breeding" %><th>Wean Date</th><% end %>
                        <th class="editableColHeader">Transfer To Cage</th>
                        <th class="editableColHeader">Date Removed</th>
                        <th class="editableColHeader">Removed For</th>
                    </thead>
                    <tbody>
                    <% if @mice.count > 0 %>
                        <% @mice.each do |m| %>
                            <% sx = ["f", "m"][(m.sex.to_i - 1)] %>
                            <tr>
                                <td id="genotype-<%= m.id %>">
                                    <span class="hidden green-check">&#10003;</span>
                                    <%= best_in_place m, :genotype, :as => :select, :collection => [[1,"n/a"],[2,"+/+"],[3,"+/-"],[4,"-/+"],[5,"-/-"]], :value => m.genotype, :html_attrs => { :selected => m.genotype }, 
                                    :url => home_update_mouse_path, :param => "mouse-#{m.id}", :class => "editableField highlight-on-success", :activator => "#genotype-#{m.id}" %>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                                <% if @cage.strain.include?("/")%>
                                    <td id="genotype2-<%= m.id %>">
                                        <span class="hidden green-check">&#10003;</span>
                                        <%= best_in_place m, :genotype2, :as => :select, :collection => [[1,"n/a"],[2,"+/+"],[3,"+/-"],[4,"-/+"],[5,"-/-"]], :value => m.genotype2, :html_attrs => { :selected => m.genotype2 },
                                        :url => home_update_mouse_path, :param => "mouse-#{m.id}", :class => "editableField highlight-on-success", :activator => "#genotype2-#{m.id}" %>
                                        <span class="hidden red-x">&#10060;</span>
                                    </td>
                                <% end %>
                                <td id="ear-punch-<%= m.id %>">
                                    <span class="hidden green-check">&#10003;</span>
                                    <%= best_in_place m, :ear_punch, :as => :select, :collection => [[1,"-"],[2,"N"],[3,"R"],[4,"L"],[5,"RR"],[6,"RL"],[7,"LL"],[8,"RRL"],[9,"RLL"],[10,"RRLL"]], :html_attrs => { :selected => m.ear_punch }, :default => m.ear_punch, 
                                    :url => home_update_mouse_path, :param => "mouse-#{m.id}", :class => "editableField highlight-on-success", :activator => "#ear-punch-#{m.id}" %>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                                <td id="sex-<%= m.id %>" >
                                    <span class="hidden green-check">&#10003;</span>
                                    <%= best_in_place m, :sex, :as => :select, :collection => [[1,"F"], [2,"M"]], :value => m.sex, :html_attrs => { :selected => m.sex }, 
                                    :url => home_update_mouse_path, :param => "mouse-#{m.id}", :class => "editableField highlight-on-success", :activator => "#sex-#{m.id}" %>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                                <td id="designation-<%= m.id %>">
                                    <span class="hidden green-check">&#10003;</span>
                                    <%= best_in_place m, :designation , :as => :input, :url => home_update_mouse_path, :html_attrs => { :size => "9", :maxlength => "8" }, :class => "editableField highlight-on-success", :placeholder => m.designation,
                                    :default => m.designation, :value => m.designation, :param => "mouse-#{m.id}", :activator => "#designation-#{m.id}" %>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                                <td>
                                    <%= m.parent_cage_id != nil ? Cage.find(m.parent_cage_id.to_i).cage_number : "-" %>
                                </td>
                                <td>
                                    <%= m.dob %>
                                </td>
                                <td id="tail-cut-cell-<%= m.id %>" >
                                    <span class="hidden green-check">&#10003;</span><%= best_in_place m, :tail_cut_date, :as => :input, :html_attrs => { :size => "12" }, 
                                    :url => home_update_tail_cut_date_path, :class => "editableField highlight-on-success", :param => "mouse-#{m.id}", :activator => "#tail-cut-cell-#{m.id }" %>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                                <% if @cage.cage_type == "breeding" %>
                                    <td>
                                        <%= m.weaning_date == nil ? m.dob + 21 : "n/a" %>
                                    </td>
                                <% end %>
                                <td id="transfer-<%= m.id %>">
                                    <span class="hidden green-check">&#10003;</span>
                                    <%= best_in_place m, :cage_id, :as => :select, :collection => Cage.where("strain LIKE ?", "%#{m.strain}%").where(cage_type:["breeding", "single-#{sx}"]).where(in_use:true).map{ |cg| ["#{@cage.id}->#{cg.id}", "#{cg.strain}: #{cg.cage_number} (#{cg.cage_type})"] }, 
                                    :html_attrs => {:selected => m.cage.cage_number, :disabled => m.designation == nil }, :url => home_update_mouse_cage_path, :param => "mouse-#{m.id}", :class => "editableField highlight-on-success", :activator => "#transfer-#{m.id}"%>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                                <td id="removed-<%= m.id %>">
                                    <span class="hidden green-check">&#10003;</span>
                                    <%= best_in_place m, :removed, :as => :input, :html_attrs => { :size => "12" }, :placeholder => "YYYY-MM-DD", :url => home_remove_mouse_path, :param => "mouse-#{m.id}", :class => "editableField highlight-on-success", :activator => "#removed-#{m.id}" %>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                                <td id="removed-for-<%= m.id %>">
                                    <span class="hidden green-check">&#10003;</span>
                                    <%= best_in_place m, :removed_for, :as => :input, :html_attrs => {:size => "20" }, :url => home_update_mouse_path, :param => "mouse-#{m.id}", :class => "editableField highlight-on-success", :activator => "#removed-for-#{m.id}" %>
                                    <span class="hidden red-x">&#10060;</span>
                                </td>
                            </tr>
                        <% end %>
                    <% else %>
                        <tr>
                            <td colspan="15"><h3 class="text-center">Cage is empty</h3></td>
                        </tr>
                    <% end %>
                    </tbody>
                    <tfoot>
                        <tr rowspan="2">
                            <td colspan="15"><div style="display:inline-block;height:15px;min-width:15px;border:1px solid black;background-color:lightblue;"></div>&nbsp;&nbsp;indicates column that can be edited. Click on a value to change it. A "-" indicates the field has no set value.<br>
                            <span style="font-size:20px;color:green;">&#10003;</span>&nbsp;&nbsp;Field value successfully updated.<span class="tfoot-red-x">&#10060;</span>&nbsp;&nbsp;Field failed to update</td>
                        </tr>
                    </tfoot>
                </table>
                
                <% end %>
            </div>
        </div>
        
    <% end %>
</div>

