<div class="container-fluid">
    <% if !current_user %> 
      <div class="row justify-content-md-center">
        <div style="width:800px;height:175px;margin-top:5%;border-radius:15px;">
            <h1 class="text-center" style="font-size:75px;"><%= image_tag("mouse-icon-high-res.png", :style=>"height:40px;")%>&nbsp;TopoDB&nbsp;<%= image_tag("mouse-icon-high-res.png", :style=>"height:40px;-webkit-transform:scaleX(-1);transform:scaleX(-1);")%></h1>
            <h4 class="text-center" style="margin-top:5%;word-spacing:5px;">UCSF Multiple Sclerosis Genetics Research Laboratory<br> Mouse Colony Database</h4>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top:5%;">
        <div class="col-sm-3">
            <%= link_to "Sign In", new_user_session_path, :class => "btn btn-outline-primary btn-block" %>
        </div>
    </div>
    <% else %>
      <!-- >  <div class="row">

            <div class="col-sm-2">
                <ul class="nav nav-pills nav-justified flex-column" style="margin-top:25px;">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#sandler-cages" style="border:1px solid lightblue;">Sandler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#genentech-cages" style="border:1px solid lightblue;">Genentech Hall</a>
                    </li>
                </ul>
                <button class="btn btn-primary btn-block" style="margin-top:25px;border:1px solid black;" type="button" data-toggle="collapse" data-target="#newCageForm" aria-expanded="false">Add New Cage</button>
            </div>

            <div class="col-sm-10 tab-content">

                <%= render 'home/partials/new_cage_form' %> 

                <div class="tab-pane container active" style="margin-top:20px;" id="sandler-cages">
                    <table id="sandler-cages-datatable" class="table table-bordered table-striped" data-source="<%= home_index_path(format: :json) %>">
                        <thead>
                            <th>Cage Number</th>
                            <th>Strain</th>
                            <th>Genotype</th>
                            <th>Cage Type</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane container" style="margin-top:20px;" id="genentech-cages">
                    <table id="genentech-cages-datatable" class="table table-bordered table-striped" style="width:100%;"data-source="<%= home_index_path(format: :json) %>">
                        <thead>
                            <th>Cage Number</th>
                            <th>Strain</th>
                            <th>Genotype</th>
                            <th>Cage Type</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div> -->
        <div class="row justify-content-md-center">
            <div class="col-sm-8" style="margin-top:20px;">
                <table id="index-datatable" class="table table-bordered table-striped" data-source="<%= home_index_path(format: :json) %>">
                    <thead>
                        <th>Strain</th>
                        <th>Cages</th>
                        <th>Mice</th>
                        <th>Latest Activity</th>
                    </thead>
                    <tbody>
                        <% @strains.each do |strain| %>
                            <tr>
                                <td><%= link_to strain, home_strain_path(:strain => strain) %></td>
                                <td><%= Cage.where(strain:strain).where(strain2:[nil,""]).where(in_use:true).count %></td>
                                <td><%= Mouse.where(cage_id:Cage.where(strain:strain).where(strain2:[nil,""]).where(in_use:true).pluck(:id)).count %></td>
                                <td><%= Cage.where(strain:strain).where(strain2:[nil,""]).where(in_use:true).sort_by(&:updated_at).last.updated_at.strftime("%Y-%m-%d @ %l:%M %p") %></td>
                            </tr>
                        <% end %>
                        <% @hybrids.each do |hybrid| %>
                            <% first_strain = hybrid.split("/").first %>
                            <% second_strain = hybrid.split("/").second %>
                            <tr>
                                <td><%= link_to hybrid, home_strain_path(:strain => "#{first_strain}_#{second_strain}") %></td>
                                <td><%= Cage.where(strain:first_strain).where(strain2:second_strain).where(in_use:true).count %></td>
                                <td><%= Mouse.where(cage_id:Cage.where(strain:first_strain).where(strain2:second_strain).where(in_use:true).pluck(:id)).count %></td>
                                <td><%= Cage.where(strain:first_strain).where(strain2:second_strain).where(in_use:true).sort_by(&:updated_at).last.updated_at.strftime("%Y-%m-%d @ %l:%M %p") %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

    <% end %>
</div>