
    <div class="collapse" id="newCageForm" style="margin-top:20px;margin-bottom:20px;">
        <%= form_for(@new_cage, url: home_create_cage_path(@new_cage), :html => { :style => "border:1px solid skyblue;padding-bottom:10px;padding-top:10px;min-width:50%;" } ) do |f| %>
            <div class="col-12">
                <div class="row justify-content-md-center">
                    <h4>Enter new cage information</h4>
                </div>
                <fieldset>
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <%= f.label :cage_number, "Cage Number", :class => "col-form-label"%>
                                <%= f.text_field :cage_number, :class => "form-control" %>
                            </div>
                        </div>
                        <div class="col-5 offset-1">
                            <div class="form-group" style="margin-top:5px;">
                                <%= f.label :location, "Location"%>
                                <%= f.text_field :location, :class => "form-control", :id => "location-input-text", :list => "locations" %>
                                <datalist id="locations">
                                    <% @all_locations.each do |l| %>
                                        <option value= "<%= l %>" >
                                    <% end %>
                                </datalist>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <%= f.label :strain, "Strain 1", :class => "col-form-label"%>
                            <%= f.text_field :strain, :class => "form-control", :list => "strains" %>
                            <datalist id="strains">
                                <% @all_strains.each do |s| %>
                                    <option value="<%= s %>">
                                <% end %>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <%= f.label :genotype, "Genotype", :class => "col-form-label" %>
                            <%= f.select :genotype, [nil,"n/a","+/+","+/-","-/-"], :selected => nil, :class => "form-control" %>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <%= f.label :strain2, "Strain 2", :class => "col-form-label"%>
                            <%= f.text_field :strain2, :class => "form-control", :list => "strains" %>
                            <datalist id="strains">
                                <% @all_strains.each do |s| %>
                                    <option value="<%= s %>">
                                <% end %>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <%= f.label :genotype2, "Genotype", :class => "col-form-label" %>
                            <%= f.select :genotype2, [nil,"n/a","+/+","+/-","-/-"], :selected => nil, :class => "form-control" %>
                        </div>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0">Cage Type</legend>
                        <div class="col-sm-9">
                            <div class="form-check" style="display:inline-block;margin-right:30px;">
                                <%= f.radio_button :cage_type, "single-f", :value => "single-f", :class => "form-check-input" %>
                                <%= f.label :cage_type, "Single F", :value => "single-f" %>
                            </div>
                            <div class="form-check" style="display:inline-block;margin-right:30px;">
                                <%= f.radio_button :cage_type, "single-m", :value => "single-m", :class => "form-check-input" %>
                                <%= f.label :cage_type, "Single M", :value => "single-m" %>
                            </div>
                            <div class="form-check" style="display:inline-block;margin-right:30px;">
                                <%= f.radio_button :cage_type, "breeding", :value => "breeding", :class => "form-check-input" %>
                                <%= f.label :cage_type, "Breeding", :value => "breeding" %>
                            </div>
                            <div class="form-check" style="display:inline-block;">
                                <%= f.radio_button :cage_type, "experiment", :value => "experiment", :class => "form-check-input" %>
                                <%= f.label :cage_type, "Experiment", :value => "experiment" %>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row justify-content-md-center"> 
                    <div class="actions">
                        <%= f.submit "Enter", :class => "btn btn-primary btn-block" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>