
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="border-bottom:1px solid black;">
    <%= link_to(image_tag("mouse-icon-high-res.png", :style=>"height:30px;") +" TopoDB", root_path, :class => "navbar-brand" )%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        
            <% if current_user %>
                <li class="nav-item">
                    <%= link_to "Locations", root_path, :class => "btn btn-outline-primary", :style => "margin-left:15px;" %>
                </li>
                <% unless !current_page?(root_path)%>
                <li class="nav-item">
                    <button class="btn btn-outline-primary" style="margin-left:15px;" type="button" data-toggle="collapse" data-target="#newCageForm" aria-expanded="false">Add New Cage</button>
                </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "ChangeLog", archive_index_path, :class => "btn btn-outline-primary", :style => "margin-left:15px;" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Removed Mice", home_removed_mouse_index_path, :class => "btn btn-outline-primary", :style => "margin-left:15px;" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "btn btn-outline-primary", :style => "margin-left:15px;" %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to "Sign In", new_user_session_path, :class => "btn btn-outline-primary" %>
                </li>
            <% end %>
            <% if current_user && current_user.is_admin? %>
                <li class="nav-item">
                    <%= link_to "Admin", rails_admin_path, :class => "btn btn-outline-primary", :style => "margin-left:15px;" %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>

