<!DOCTYPE html>
<html>
  <head>
    <title>Topo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/d3-milestones/build/d3-milestones.css">
    <script src="https://unpkg.com/d3-milestones/build/d3-milestones.min.js"></script>
  </head>

  <body>
    <% if current_user %>
      <%= render 'layouts/partials/header' %>
    <% end %>
    <%= gflash %>

    <%= yield %>
  </body>
</html>
